@import "mixins/mini-grid";

.clearfix:after, %clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.mini-grid-container {
    @extend %clearfix;
    .box {
        @include grid-width(4, 5);
        margin-top: 5%;
        margin-bottom: 5%;
        padding: 20px;
        background: #222;
        color: #fff;
    }
}
